.layout-header {
  background-color: white;
  border-bottom-width: 1px;
  height: 64px;
  position: sticky;
  top: 0;
}

.layout-main {
  border-left-width: 1px;
  border-right-width: 1px;
  margin: 0 auto;
  max-width: 660px;
  min-height: calc(100vh - 128px);
}

.layout-title {
      align-items: center;
    border-bottom-width: 1px;
    display: flex;
    height: 52px;
    padding: 0 15px;
    align-content: stretch;
    justify-content: center;
    color: #65bba2
}

.layout-footer {
  align-items: center;
  border-top-width: 1px;
  display: flex;
  height: 64px;
  color:white 
}

.layout-header,
.layout-footer {
  padding: 0 15px;
  background-color: #2e4845;
}
